<html>
  <head>
    <meta charset="utf-8">
    <title>Acceuil cate</title>
  </head>
  <body>

    <table style="width:100%">
      <tr>
        <th>price</th>
          <ul> <th>marque</th></ul>
        <th>année</th>
        <th>test</th>
      </tr>




      <tr>
        <td id=phone><a href="{{ path("Phone") }}">Phone</a></td>
        <td id=pc><br><a href="{{ path("PC") }}">Pc</a></td>
        <td id=drones><br><a href="{{ path("Drone") }}">Drones</a></td>
        <td id=other><br><a href="{{ path("Other") }}">Other</a></td>
      </tr>

    </table>

  </body>
</html>
