<html>
  <head>
    <meta charset="utf-8">
    <title>Drones</title>
  </head>
  <body>

    <table style="width:100%">
      <tr>
        <th>><img src="..\drone.jpg">Drone</th>
        <th><img src="Picture\drone2.jpg">Drone</th>
        <th>année</th>
        <th>test</th>
      </tr>


      <tr>
        <h1>Produit et description</h1>
      </tr>
      <tr>

        <td id=acceuil><a href="{{ path("menu") }}">Acceuil</a></td>
        <td id=phone><a href="{{ path("Phone") }}">Phone</a></td>
        <td id=pc><a href="{{ path("PC") }}">Pc</a></td>
        <td id=other><a href="{{ path("Other") }}">Other</a></td>

      </tr>
    </table>

  </body>
</html>
