<html>
  <head>
    <meta charset="utf-8">
    <title>Other</title>
  </head>
  <body>

    <table style="width:100%">
      <tr>
        <th>price</th>
        <th>marque</th>
        <th>année</th>
        <th>test</th>
      </tr>

      <tr>
        <h1>Produit et description</h1>
      </tr>

      <tr>


        <td id=phone><a href="{{ path("Phone") }}">Phone</a></td>
        <td id=pc><a href="{{ path("PC") }}">Pc</a></td>
        <td id=drones><a href="{{ path("Drone") }}">Drones</a></td>
        <td id=acceuil><a href="{{ path("menu") }}">Acceuil</a></td>

      </tr>
    </table>

  </body>
</html>
